<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aura.smartschool"
    android:versionCode="2"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- gcm 수신을 위한 퍼미션 5가지와 메타태그 추가 -->
    <permission
        android:name="com.aura.smartschool.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.aura.smartschool.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- google Map V2 -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <!-- 활동량 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-feature android:name="android.hardware.sensor.stepcounter" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJx5obuYcIvz1xo8odx0bV1u6lHaEHrgo"/>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialog.RegisterDialogActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".dialog.MemberSaveDialogActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".FindSchoolActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>

        <activity
            android:name=".LocationUploadActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".AppNoticeActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".QnAActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name=".service.MyLocationService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name=".service.StepCounterService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver android:name=".receiver.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BR.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"  >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.aura.smartschool" /> <!-- 패키지명과 동일하게 -->
            </intent-filter>
        </receiver>
    </application>

</manifest>
